.header {
  margin: 0;
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.marvel-logo {
  margin: 0 20px;
  width: 100px;
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  max-width: 100%;
}

.nav {
  font-size: 20px;
}

.nav__link {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 10% 20px;

  transition: color .2s linear;
}

.nav__link:hover{
  color: yellow;
}
