body{
  margin: 0;
  height: 100%;
  max-width: 100%;
}

.search{
  margin-left: 20px;
  margin-bottom: 20px;
}

.search input {
  width: 72.9%;
  height: 30px;
}

.search button {
  width: 22.5%;
  height: 35px;
  margin-left: 2.8%;
  background-color: rgb(208, 208, 28);
  border: 1px solid rgba(162, 162, 8, 0.715);
  color: white;
}

.search button:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 19);
}



.character {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  border-color: black;
  border: 2px solid;
  width: 88%;
  height: 250px;
  margin: 10px 10px;
  transition: color .4s linear;
}

.character:hover{
  border-color: red;
  height: 255px;
  width: 92%;
  margin: 5px 5px;
}

.character h3 {
  margin: 2px 0px 0px 10px;
}

.description {
  margin: 5px 10px 5px 10px;
}

.logo_character {
  height: 60%;
  border-bottom: 1px solid black;
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.character img {
  height: 100%;
  width: 100%;
}

.info {
  color: black;
}

.link_characters {
  text-decoration: none;
}
